{% extends 'boards/base.html' %}


    {% block body %}
    <h1>Detail</h1>
    <h2>{{ board.title }}</h2>
    <p>{{ board.id }}번 째 글</p>
    <p>{{ board.created_at}}</p>
<hr />
    <p>{{ board.content }}</p>
<hr />
    <a href="{% url 'boards:index' %}" class = "btn btn-info">뒤로가기</a>
    <!--<a href="/boards/{{board.id}}/delete/">[삭제하기]</a>-->
        <!--위의 get 요청을 post 로 바꾸기 !-->
    <form action="{% url 'boards:delete' board.id %}" method="post">
             {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="삭제하기" />
    </form>
<hr />
    <a href="{% url 'boards:edit' board.id %}" class="btm btn-info">수정하기</a>


    {% endblock %}